body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    border: 1px solid #000;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-banner {
    width: 100%;
    max-width: 800px;
    height: 150px;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.full-banner img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.bloco-arredondado, .bloco-duplo {
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.bloco-arredondado {
    width: 30%;
    height: 150px;
}

.bloco-duplo {
    width: 62%;
    height: 150px;
}

.bloco-arredondado img, .bloco-duplo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
